@font-face {
    font-family: 'HSGyoulnoonkot2.0';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HSGyoulnoonkot2.0/HSGyoulnoonkot2.0.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HSGyoulnoonkot2.0/HSGyoulnoonkot2.0.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HSGyoulnoonkot2.0/HSGyoulnoonkot2.0.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HSGyoulnoonkot2.0/HSGyoulnoonkot2.0.ttf') format('truetype');
}
